/* Enter your custom styles here */

.left_bar {
    background-color: rgb(230, 230, 230);
}

.tool_bar {
    background-color: rgb(74, 85, 108);
}

.left_bar_label {
    color: #fafafa;
}

.label_enel {
    font-size: 1rem !important;
    color: #000000;
}

.combo_label {
    color: #000000;
}

.label_country {
    font-size: 3rem;
    color: #000000;
}

.label_region {
    font-size: 2rem;
    color: #000000;
}

.custom_flex{
	color: #e5e3e3;
}

.custom_page{
	background-color: rgb(74, 85, 108);
	color: rgb(74, 85, 108);
}

.label_list {
    font-size: 15px;
    color: #000000;
}

.statusIcon {
    font-size: 1.3rem;
}